{% extends 'base.html' %}

{% block body %}
    <div class="album py-5">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 row-cols-md-4">
                {% for product in products %}
                    <div class="col">
                        <a href="{{ url_for('product', id=product[6]) }}" class="link-dark"
                           style="text-decoration: none;">
                            <div class="card shadow-sm">
                                <div style="overflow: hidden; height: 300px;">
                                    <img src="{{ product[5] }}"
                                         alt="{{ product[0] }}"
                                         style="width: 100%; height: 100%; object-fit: cover">
                                </div>
                                <center>
                                    <div class="card-body" style="background-color: lightgray">
                                        <p class="card-text">{{ product[0] }}</p>
                                        <p class="card-text">{{ product[4] }}</p>
                                        <div style="padding-top: 10px;">
                                            {% if not product[7] %}
                                                <a href="{{ url_for('add_to_favourite', product_id=product[6]) }}?url_from={{ url_for('main_page') }}"
                                                   class="btn btn-outline-danger fav">add to fav</a>
                                            {% else %}
                                                <a href="{{ url_for('delete_from_favourite', product_id=product[6]) }}?url_from={{ url_for('main_page') }}"
                                                   class="btn btn-danger fav">delete from fav</a>
                                            {% endif %}
                                        </div>
                                    </div>
                                </center>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <script>
        {#  взял со стаковерфлоу, думаю лучше убрать  #}
        document.addEventListener("DOMContentLoaded", function (event) {
            const scrollpos = localStorage.getItem('scrollpos');
            if (scrollpos) window.scrollTo(0, scrollpos);
        });

        window.onbeforeunload = function (e) {
            localStorage.setItem('scrollpos', window.scrollY);
        };
    </script>
{% endblock %}